{
 :delimiter [:red]
 :tag       [:red]

 :nil       [:cyan]
 :boolean   [:cyan]
 :number    [:cyan]
 :string    [:cyan]
 :character [:cyan]
 :keyword   [:green]
 :symbol    nil

 :function-symbol [:blue]
 :class-delimiter [:blue]
 :class-name nil
}
